.home-title {
  font-size: 3.2rem;
  font-weight: 700;
}

.home-title-name {
  color: var(--primary-color);
}

.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 5rem;
  padding-top: 4rem;
}

.home-blob {
  width: 25rem;
  fill: var(--primary-color);
}
