:root {
  /* Colors */
  --primary-color: #0078ff;
  --dark-primary-color: #0d1730;
  --white-color: #fff;
  --navbar-background-color: var(--white-color);
  --primary-button-color: var(--primary-color);

  /* Other */
  --navbar-height: 4rem;
}
