.container {
  padding-inline: 12rem;
}

.section {
  background-color: var(--light-primary-color);
  padding-block: 2rem;
  height: calc(100vh - var(--navbar-height));
}

.section:nth-child(even) {
  color: var(--white-color);
  background-color: var(--dark-primary-color);
}

.section-heading {
  position: relative;
}

.section-heading::after {
  position: absolute;
  content: "";
  width: 4rem;
  height: 0.125rem;
  margin: auto;
  left: 0;
  right: 0;
  top: 2.5rem;
  background-color: aqua;
}

button.primary {
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white-color);
  background-color: var(--primary-button-color);
}
