.container {
  padding-inline: 12rem;
}

.section {
  padding-block: 1.2rem;
  height: 100vh;
}

.section:nth-child(even) {
  color: var(--white-color);
  background-color: var(--dark-primary-color);
}

button.primary {
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white-color);
  background-color: var(--primary-button-color);
}
