.btn-primary {
  background-color: var(--primary-btn-color);
  border: none;
  border-radius: 0.875rem;
  color: var(--white-color);
  font-size: 1rem;
  font-weight: 500;
  padding: 0.7rem 1.5rem;
}

.btn-primary:hover {
  background-color: var(--primary-btn-hover-color);
}

.highlight-text {
  color: var(--primary-color);
}
